<section class="text-lg border-2 text-center m-8">
  <article>
    <h2>Demo Links</h2>
    <ul>
      <li>
        <a href="/cmdpalletelive" target="_blank" class="text-blue-600">
          - Command Pallete Live Demo
        </a>
      </li>
      <li>
        <a href="/tabbedlive" target="_blank" class="text-blue-600">- Tabbed CLUI Demo</a>
      </li>
    </ul>
  </article>
</section>
